        <ion-pane>
          <ion-header-bar class="bar-stable">
            <h1 class="title" style="padding: 10px;"><img src="img/dlfLogo.png" absmiddle="top" width="110" /><!--  MALL APP  --></h1>       
          </ion-header-bar>

         <ion-view view-title="Info" ng-controller="locationCtrl">
              <ion-content ng-load="onPageLoad()">          
                  
                    
                   <!--  <select ng-model="score" ng-change="getDistance(score)" ng-options="score as score.name for score in mallids"  style="width: 200px; padding: 2px; border: 1px solid #00a1ff; margin: 10px; ">                  
                    </select>
              
                    <div style="margin: 10px;">
                    My Lan : {{lat}} <br>
                    My long : {{long}}
                    <h4>Nearest Mall selected: <b>{{score.name}}</b></h4>
                    <div style="float: left; padding-right: 20px;">Your distance: <b><span id="myDistance"></span></b></div>
                    <div style="float: left; padding-left: 20px;">Your will take time to reach there : <b><span id="duration"></span></b> </div><br>
                    <div id="end"></div>
                    </div>
                    <br><br>
                  <hr>

                    <div class="detailContainer" style="padding: 20px;">
                      <div ng-if="score.id == '1'"><h1>Nelson Mandela Marg, Vasant Kunj II, Photo and Content Display here </h1></div>
                      <div ng-if="score.id == '2'"><h2>Saket District Centre, Photo and Content Display here </h2></div>
                      <div ng-if="score.id == '3'"><h3>Mall Back Entry Road, Vasant Kunj II  Photo and Content Display here</h3></div>
                      <div ng-if="score.id == '4'"><h3> Ambience Mall, Gurgaon Photo and Content Display here </h3></div>

                       <hr>
                       <br>
                       <br>

                        <br>

                        <div style="text-align: center;">

                        <input type="button" id="btnCall" value="Call a driver"  ng-click="btnCallFun()"  name="Call a driver" style="background:red; padding: 10px; color: #fff;   border: none;">

                        <input type="button" id="btnCall" value="Get Number"  ng-click="otherCalling()" name="Call a driver" style="background:red; padding: 10px; color: #fff;   border: none;">
                        </div>


                        <br>

                        <br>


                         <div style="text-align: center;">

                        <input type="button" id="btnCall" value="Show My Directions"  ng-click="showDirection()" name="Call a driver" style="background:green; padding: 10px; color: #fff;   border: none;">

                        </div>

                        <div class="showMap" ng-if="showMap">

                        <div class="directive">
                           <ng-map zoom="14" id="my-map" center="28.510353, 77.086080" style="height:100%; width: 100%; float: left;" on-click="logLatLng()" >
                              <directions 
                                draggable="true"
                                panel="directions-panel"
                                travel-mode="{{travelMode}}"
                                waypoints="{{wayPoints}}"
                                origin={{showMyLocation}}
                                destination="28.528451, 77.216756">
                              </directions>
                            </ng-map> 
                             <div id="directions-panel" style="width: 100%; float:left; height:60%; overflow: auto; padding: 0px 5px">
                         </div>
                        </div>                   

                         </div>


                          <br>

                        <br>                     

                    </div> -->


               <div class="card" ng-repeat="event in events">
                                  <div class="item item-divider">
                                      {{event.title}}
                                  </div>                    
                                  <div class="item item-text-wrap">
                                      {{ event.description }}
                                      <p/>
                                      <strong>When: {{ event.date | date:'short' }}</strong>

                            <p ng-if="event.status">This event is added to your calendar already!</p>
                            <button ng-if="!event.status" ng-click="addEvent(event,$index)" class="button button-block button-balanced">Add to Calendar</button>

                                  </div>
                              </div>

                              <button class="button button-block button-dark" onclick="openCalendar()">open calendar</button><br/><br/>

                              <button class="button button-block button-balanced" onclick="createCalendarEventInteractively1()">Create Event1 to Calender</button>

                               <button class="button button-block button-balanced" onclick="createCalendarEventInteractively2()">Create Event2 to Calender</button>

                                <button class="button button-block button-balanced" onclick="createCalendarEventInteractively3()">Create Event3 to Calender</button>
                              <br/><br/>


                              
                



              </ion-content>
         </ion-view>
        </ion-pane>
 